In [22]:
##Creating an object in Pandas:
import pandas as pd 
import numpy as np
series = pd.Series([10,20,30,40,np.nan,50])
series

0    10.0
1    20.0
2    30.0
3    40.0
4     NaN
5    50.0
dtype: float64

In [23]:
##Creating a DataFrame by passing a NumPy array, with a datetime index and labeled columns:
#Creating the range:
dates = pd.date_range('20190101', periods=5)
dates
#Creating the dataframe:
df = pd.DataFrame(np.random.randn(5,5), index=dates, columns=list('ABCDE'))
df

                   A         B         C         D         E
2019-01-01  2.431367 -0.927792 -1.194827 -0.211244  0.205602
2019-01-02 -0.399373  0.266713 -0.291619 -0.532092  0.611213
2019-01-03 -1.366881  0.329066  0.119593 -0.163184  0.091400
2019-01-04 -0.229499  0.818679  0.667113 -0.522301  0.606303
2019-01-05  0.254685  0.081618  0.864098  0.015784 -0.621372

In [24]:
##Creating a DataFrame by passing a dict of objects that can be converted to series-like.
df2 = pd.DataFrame({'A': pd.Series(1, range(4), dtype='float32'),
                   'B': pd.Timestamp(20190101),
                   'C': 1.0,
                   'D': np.array([3]*4),
                   'E': pd.Categorical(["Test","Train","Test","Train"]),
                   'F': 'foo'})
df2

     A                             B    C  D      E    F
0  1.0 1970-01-01 00:00:00.020190101  1.0  3   Test  foo
1  1.0 1970-01-01 00:00:00.020190101  1.0  3  Train  foo
2  1.0 1970-01-01 00:00:00.020190101  1.0  3   Test  foo
3  1.0 1970-01-01 00:00:00.020190101  1.0  3  Train  foo

In [25]:
##Datatypes we have in df2:
df2.dtypes

A           float32
B    datetime64[ns]
C           float64
D             int32
E          category
F            object
dtype: object

In [34]:
#Viewing data from Top
df.head()

                   A         B         C         D         E
2019-01-01  2.431367 -0.927792 -1.194827 -0.211244  0.205602
2019-01-02 -0.399373  0.266713 -0.291619 -0.532092  0.611213
2019-01-03 -1.366881  0.329066  0.119593 -0.163184  0.091400
2019-01-04 -0.229499  0.818679  0.667113 -0.522301  0.606303
2019-01-05  0.254685  0.081618  0.864098  0.015784 -0.621372

In [36]:
#Viewing from Bottom
df.tail(3)

                   A         B         C         D         E
2019-01-03 -1.366881  0.329066  0.119593 -0.163184  0.091400
2019-01-04 -0.229499  0.818679  0.667113 -0.522301  0.606303
2019-01-05  0.254685  0.081618  0.864098  0.015784 -0.621372

In [26]:
##Viewing Statistics about data
df.describe()

              A         B         C         D         E
count  5.000000  5.000000  5.000000  5.000000  5.000000
mean   0.138060  0.113657  0.032872 -0.282607  0.178629
std    1.410819  0.642753  0.823598  0.238792  0.504572
min   -1.366881 -0.927792 -1.194827 -0.532092 -0.621372
25%   -0.399373  0.081618 -0.291619 -0.522301  0.091400
50%   -0.229499  0.266713  0.119593 -0.211244  0.205602
75%    0.254685  0.329066  0.667113 -0.163184  0.606303
max    2.431367  0.818679  0.864098  0.015784  0.611213